$light: #fff;
$primary-color: rgb(245, 99, 75);
$secondary-color: #f9f9f9;
$extra-color: #181a23;
$black: #232323;
$black-light: #272727;
$border-color:#dedede;
$primary-font:'Barlow Condensed', sans-serif;
$secondary-font:'Montserrat', sans-serif;
