<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6">
				<img src="images/about/img-6.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3 mt-lg-4 col-md-6">
				<img src="images/about/img-7.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-item position-relative mt-5 mt-lg-0">
					<span class="h5 text-lg text-muted">Est:1990</span>
					<h2 class="mt-1 mb-3">Having <span class="text-color">10 years</span> of experience in fitness</h2>

					<p class="mb-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam lorem ante, dapibus in.</p>

					<a href="service.html" class="btn btn-main">Services<i class="ti-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>