<section style="padding: 100px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="text-center p-5 shadow">
					<h2 class="mb-3">You have downloaded free version of <span class="text-color">GymFit</span></h2>
					<h4 class="mb-3">To get full access of this page please purchase the premium version</h4>
					<h4>Why Premium?</h4>
					<ul class="list-unstyled mb-4">
						<li>Full Template Pack</li>
						<li>Priority Support</li>
						<li>Documentation Included</li>
						<li>Monthly Update</li>
						<li>Lifetime Download</li>
						<li>Personal and commercial Use</li>
						<li>One time payment</li>
					</ul>
					<a href="https://themefisher.com/products/gymfit-fitness-and-gym-template/" target="_blank" class="btn btn-main">Buy Premium Version</a>			
				</div>
			</div>
		</div>
	</div>
</section>