<section class="section cta">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="text-center">
					<span class="h6 letter-spacing text-white">Dscover your potential</span>
					<h2 class="text-lg mt-4 mb-5 text-white">
						Book your early seat to get <span class="text-color">summer 25% </span>dicsount
					</h2>

					<a href="pricing.html" class="btn btn-main text-white">Join Today</a>
				</div>
			</div>
		</div>
	</div>
</section>