<section class="section course">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Popular Courses</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 mb-5">
					<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 mb-5">
					<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 mb-5">
					<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 ">
					<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 ">
					<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card rounded-0 p-0 ">
					<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="mt-3 mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<i class="ti-time mr-2 text-color"></i>Monday-Tuesday :
							</li>
							<li class="list-inline-item text-black">
								<strong>7am-12pm</strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>