<section class="section course bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Popular Courses</h2>
					<p>We offer more than 35 group exercis, aerobic classes each week.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/course-1.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="font-secondary mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="font-secondary mb-0">Build Body</h4></a>
						<p class="mb-2">Mentor: Jimmy Karter</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/course-3.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="font-secondary mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/course-2.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="course-single.html"><h4 class="font-secondary mb-0">Build Body</h4></a>
						<p class=" mb-2">Mentor: Jimmy Karter</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="mt-5 text-center">
					<a href="course.html" class="btn btn-main">See all our Courses</a>
				</div>
			</div>
		</div>
	</div>
</section>