<section class="section course">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12">
				<div class="single-course">
					<img src="images/gallery/gallery-01.jpg" alt="" class="img-fluid">

					<ul class="list-group list-group-horizontal-sm mt-5 mb-4">
					  <li class="list-group-item "><span class="text-lg text-color">2.5</span> Hours</li>
					  <li class="list-group-item"><span class="text-lg text-color">600+</span> calories burnt</li>
					  <li class="list-group-item"><span class="text-lg text-color">75%</span> workout intensity</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt ducimus quod at quasi reiciendis expedita quae officia voluptatum nesciunt obcaecati suscipit eius, sequi, optio, saepe soluta accusamus. At, nam.</p>
					<p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>

					<div class="row mt-5">
						<div class="col-lg-12">
							<h3 class="mb-4">Class Schedule</h3>
						</div>
					  <div class="col-sm-4">
					    <div class="card bg-gray rounded-0">
					      <div class="card-body">
					        <h4 class="card-title mb-1"><i class="ti-timer mr-2"></i>Sunday</h4>
					        <p class="card-text">10am-12pm</p>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-4">
					    <div class="card bg-gray rounded-0">
					      <div class="card-body">
					        <h4 class="card-title mb-1"><i class="ti-timer mr-2"></i>Saturday</h4>
					        <p class="card-text">12am-2pm</p>
					      </div>
					    </div>
					  </div>
					  <div class="col-sm-4">
					    <div class="card bg-gray rounded-0">
					      <div class="card-body">
					        <h4 class="card-title mb-1"><i class="ti-timer mr-2"></i>wednesday</h4>
					        <p class="card-text">12am-2pm</p>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class= "course-widget border py-4 px-2 mt-5 mt-lg-0">
					<h3 class="text-center mb-3">Class Features</h3>
					<ul class="list-group  list-group-flush">
						
					  <li class="list-group-item d-flex justify-content-between align-items-center text-black">
					  	Category<span class="text-black-50">Yoga</span>
					  </li>
					   <li class="list-group-item d-flex justify-content-between align-items-center text-black">
					  	Duration<span class="text-black-50">14 days</span>
					  </li>
	 				  <li class="list-group-item d-flex justify-content-between align-items-center text-black">
					  	Students<span class="text-black-50">35</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center text-black">
					  	Shift<span class="text-black-50">Morning</span>
					  </li>
					  <li class="list-group-item d-flex justify-content-between align-items-center text-black">
					  	Price<span class="text-black-50">60$</span>
					  </li>
					</ul>
					<div class="text-center mt-3">
						<a href="#" class="btn btn-main">Join Now</a>
					</div>
				</div>
				<div class= "course-widget py-4 px-2 mt-3">
					<h3 class="text-center mb-3">Class Catgories</h3>
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><a href="#"><i class="ti-angle-right mr-2" ></i>Boxing</a> </li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Cycling</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Yoga</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Meditation</a></li>
					  <li class="list-group-item"><a href="#"> <i class="ti-angle-right mr-2"></i>Gym fitness</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>