<section class="gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Our gallery</h2>
					<p>We offer more than 35 group exercis, aerobic classes each week.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row no-gutters portfolio-gallery">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-01.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-01.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-02.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-02.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-03.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-03.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-04.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-04.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-05.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-05.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-06.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-06.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-07.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-07.jpg" alt="" class="img-fluid">
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<a href="images/gallery/gallery-08.jpg" class="popup-gallery">
					<img src="images/gallery/gallery-08.jpg" alt="" class="img-fluid">
				</a>
			</div>
		</div>
	</div>
</section>		
