<section class="section pricing">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Package Pricing</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 ">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">Standard Pack</h4>
					<h3 class="text-lg font-secondary position-relative mt-2"><sup class="text-sm position-absolute ">$</sup>12  <sub>per month</sub></h3>

 					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Training overview</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Foundation Training</li>
							<li><i class="ti-close mr-3"></i>Begineers Classes</li>
							<li><i class="ti-close mr-3"></i>Olympic weighlifting</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-solid-border text-black">Buy Now</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 ">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary"><span class="text-sm bg-dark text-light py-1 px-2 mr-2">Popular</span>Pro Pack </h4>
					<h3 class="text-lg font-secondary position-relative mt-2"><sup class="text-sm position-absolute">$</sup>29 <sub>per month</sub></h3>

 					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Training overview</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Foundation Training</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Begineers Classes</li>
							<li><i class="ti-close mr-3"></i>Olympic weighlifting</li>
							<li><i class="ti-close mr-3"></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-main">Buy Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="card rounded-0 px-4 py-5 ">
					<h4 class="card-title text-capitalize font-weight-normal font-secondary">Gold Pack</h4>
					<h3 class="text-lg font-secondary position-relative mt-2"><sup class="text-sm position-absolute">$</sup>39 <sub>per month</sub></h3>

 					<div class="card-body mt-2">
						<ul class="list-unstyled lh-35 mb-4">
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Training overview</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Foundation Training</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Begineers Classes</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Olympic weighlifting</li>
							<li class="text-black font-weight-bold"><i class="ti-check mr-3 text-color "></i>Personal Training</li>
						</ul>
						<a href="#" class="btn btn-solid-border text-black">Buy Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>