<section class="section bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Our Trainer</h2>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-lg-6">
				<div class="card border-0 mb-1  bg-transparent rounded-0 mb-4">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/team-1.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Bruice John</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing">cross Expert trainer</h6>
				        <p class="mb-5">Growing up, I’ve always been involved in sports, fitness and athleticism in general. It got a whole new meaning for me as in 2007 I had an injury.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card border-0 mb-1 bg-transparent  rounded-0 mb-4">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/team-2.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">VIRGIL COOK</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Growing up, I’ve always been involved in sports, fitness and athleticism in general. It got a whole new meaning for me as in 2007 I had an injury.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card border-0 bg-transparent  rounded-0 mb-4 mb-lg-0">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/team-3.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">JULIE COLLINS</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Growing up, I’ve always been involved in sports, fitness and athleticism in general. It got a whole new meaning for me as in 2007 I had an injury.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">	
				<div class="card p-0 border-0 bg-transparent rounded-0">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6 ">
				      <img src="images/team/team-4.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Thomas vel</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Growing up, I’ve always been involved in sports, fitness and athleticism in general. It got a whole new meaning for me as in 2007 I had an injury.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>