<section class="section why">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Why CHoose us</h2>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center mb-4 border-0 bg-black-50 rounded-0 ">
					<i class="icofont-dumbbells text-lg text-color"></i>
					<h3 class="mt-3 text-white">Modern Equipment</h3>
					<p class="mt-3 mb-4 text-white">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0">
					<i class="icofont-muscle text-lg text-color"></i>
					<h3 class="mt-3">PROFFESIONAL TRAINer</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0 bg-black-50">
					<i class="icofont-fruits text-lg text-color"></i>
					<h3 class="mt-3 text-white">HEALTHY DIET Plan</h3>
					<p class="mt-3 mb-4 text-white">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 ">
					<i class="icofont-thumbs-up text-lg text-color"></i>
					<h3 class="mt-3">24/7 Helping People</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 bg-black-50">
					<i class="icofont-ui-fire-wall text-lg text-color"></i>
					<h3 class="mt-3 text-white">Unique to Your Needs</h3>
					<p class="mt-3 mb-4 text-white">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0">
					<i class="icofont-bill-alt text-lg text-color"></i>
					<h3 class="mt-3">Online payment</h3>
					<p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
				</div>
			</div>
		</div>
	</div>
</section>